:root{
    --primary-bg-color:#00b7ff;
    --secondary-bg-color:#6c756d;
}
#primaryBtn{
    background-color: var(--primary-bg-color);
}
#secondaryBtn{
    background-color: var(--secondary-bg-color);
}
button{
    color: white;
    padding: 10px;
    font-size: 25px;
}